
        .deafeeedcad{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\0de4a72950fe1e76ed179580260ca09d.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .ffedbcbdbdfc{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\ffed9193b7c4b747943db7d79991f94c.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .eebbdeabeedcdc{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\78082e1eb3875364bdeabe9edcd992c1.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .dadfdebcfedbde{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\da07dfde748bc2961fe53d4715bde184.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .fdaceeceffdfe{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\8312fda337ce5e9c444eff1d2f679e51.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .edfaefaecaff{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\301e6941df0375ae4fae204104ca9ff9.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .edebbeedcbffeced{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\0e4de3b1b16ee3dc56bffec1524ed506.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .dfeadaccecefdd{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\8df01e0ada075c976c62ece5132fd0d2.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .ebfdedfcbcfbdcee{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\32ebf2de32df454c2bcfbdce433e9505.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .efcdcdadbbfbbbd{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\ef1571c86d9cd9adb9b8f0bb8463b39d.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .feafacedde{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\7f3e294318a72937fac33ed8792149de.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .dbccbabebdc{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\769db6ccba2b40621eb34444607dc649.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .eefabbe{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\13e2e203443f11a51b18b66661e18223.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .fafcfccdbadaf{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\f5a0fc93874f3c8c4d1b401a0d99a4f6.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .ccbecdcffbacfbc{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\9ccbecd07c5f94fb5901acf6b86414c8.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .feafabfeedfd{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\6603069665fe10afab01f7612ee3dfd8.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .ccebbb{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\c76c9479973722e68692b4056b48b438.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .dffcdabdeb{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\d175f839865fc18608d1a66198b3de4b.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .ebbbfefc{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\9e60096b4592bb63800f02e51f1278c5.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .cacbadaaddfeabdce{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\3640cacb3ad1a86ad8952dfe6abd38ce.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .eacabfbdfada{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\e9439a99ca97bf219b2d22f764ad1a60.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .efafabaeeb{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\3226e643f7afa7450ba3992ee470850b.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .dffededddbe{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\d7f5f45e2d591e6d3154054d10d7b68e.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .eceebbdccbb{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\0634e4c8661e510eb1b1918dc66cb2b4.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .fbecfabefcaaacd{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\017032f6becf4abe1348f2caa0acd807.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .aafafc{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\494864a40a2136f6a3944903394fc573.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .eaffccbdaccdeb{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\eaf347f3162c7c7bdacc5d11e15b9787.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .facaaedbaedcbef{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\f4a6caa49660818e095db7aedc406bef.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .caebbccdf{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\41743c796a759eb8b44276cc292d53f7.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .bdeacceed{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\266b511703d44e87059a509c8ce3e0d4.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .fbdabfdf{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\00fb308633471d5a827271594b4fd62f.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .cbbcececebccc{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\8c8bb6c9ec0ec1e9b43415881cc433c5.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .badbdaeffabefd{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\29ba0db28d5a61e32f7f833a9be613fd.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .faefedaebdcbb{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\64fae84f4791ed65ae1bd992c03b541b.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .ebecbacfafbab{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\e21112104be50c76ba0cfa98f9134bab.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .abeeeadecafd{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\a708be0e97e2a1d098e542596ca06f4d.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .baadbafbbabcc{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\8baadb4a6fb025ba2b1c2c0405850949.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .ddecffbfffae{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\294dd7ec604f741f07bff2f7a300e363.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .fbbfdfdedeafb{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\38f5b1bf1794d60f895d317e60dea2fb.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .eacefcecbcede{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\e7ace9904590fc63e571c5b9c7ed3e05.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .bdbffaacacefbeafc{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\6bd39bf23faac4ac3efb1e27a485f08c.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .fcafcbdddec{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\50fc905a3fc1b020375599263dd47dec.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .bfbcacae{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\b527f2584922bc21a72865ca192771e9.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .dceaeadbfeadbd{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\d4ce6ae0ad21827bf48e97907a61d4bd.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .ccbafaefaada{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\c909c1944311b1a0fae18fa25ad6627a.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .eeacceec{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\e26e1a915704c766c2616195808ee81c.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .ccaaffccafc{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\47c66ca6affc7984544c05a6f29c2272.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .dfaacfdbdbee{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\725d9f46906a24ac57f780d3b3d0bee1.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .efdeaedabaadaea{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\e12f6d0e422aeda67b2715a6a2d8ae4a.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .aadeeacfddef{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\aa4d3492ee1439a6cf963d3d8e49f013.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .eeadeadacebc{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\e34995ea58dea21d8a5ce6552991b0c0.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .eacaacbeaac{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\e3ac13309a3a1cb069e99a854a293c35.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .ffbaaadfe{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\f1fb026a355a8949352ad468556fe719.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .cadecdcbccdebfa{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\ca709de2cdc7bc308cd9e280b4f7a195.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .cbcdeeadedee{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\c46432b196c4dee406686aded5e97e03.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .bccabfddfa{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\2b628375c775cab2f6023d30643df5a4.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .bcdcdedeabfdda{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\b106c581dc0ded4ea14b3f98170d16da.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .bdbfec{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\b4574d542972b7f218757e98487966c8.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .eabbbddad{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\e4a42172b659570442b72b190dda50d9.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .fedfcdcaca{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\f2610e0969df561c3660384dcac8a133.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .ffdbeedafbfd{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\ffd23330583b24e49e3d714afbf50d77.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .fdefdeecedebee{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\14f3d412efd00e3e634c71ede7b34e7e.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .ebafcebaccadd{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\e62b162a56f23c5268eb7ac3c3a5d5d9.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .fcfbcbebffdbdd{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\8f038c8fb76cb5ebf9f9177d568b2dd8.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .ebecefbffabb{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\9eb9e9c4e68fb42f70f91a04751b146b.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .aacfbddedff{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\24570a1ac459fbdde4085d919f499f46.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .fdfccefcfae{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\f5df2c953c05e54f7c4683757f69a95e.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .ddbedbfefeed{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\2d232d3b45e4db5f8ef5038e3230e5d9.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .dbecfaeafccfd{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\db2626ec4fa568e987a96f9cc10f684d.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .eccbaacfab{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\83e654149c67c8baacf955789a81905b.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .fffdbdbfcaaebdbfae{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\3ff030fd0bd287b15fc1a4aebdb6fae3.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}