
        .deafeeedcad{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\0de4a72950fe1e76ed179580260ca09d.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .ffedbcbdbdfc{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\ffed9193b7c4b747943db7d79991f94c.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .eebbdeabeedcdc{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\78082e1eb3875364bdeabe9edcd992c1.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .dadfdebcfedbde{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\da07dfde748bc2961fe53d4715bde184.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .fdaceeceffdfe{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\8312fda337ce5e9c444eff1d2f679e51.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .edfaefaecaff{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\301e6941df0375ae4fae204104ca9ff9.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .edebbeedcbffeced{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\0e4de3b1b16ee3dc56bffec1524ed506.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .dfeadaccecefdd{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\8df01e0ada075c976c62ece5132fd0d2.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .ebfdedfcbcfbdcee{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\32ebf2de32df454c2bcfbdce433e9505.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .efcdcdadbbfbbbd{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\ef1571c86d9cd9adb9b8f0bb8463b39d.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .feafacedde{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\7f3e294318a72937fac33ed8792149de.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .dbccbabebdc{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\769db6ccba2b40621eb34444607dc649.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .eefabbe{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\13e2e203443f11a51b18b66661e18223.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .fafcfccdbadaf{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\f5a0fc93874f3c8c4d1b401a0d99a4f6.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .ccbecdcffbacfbc{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\9ccbecd07c5f94fb5901acf6b86414c8.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .feafabfeedfd{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\6603069665fe10afab01f7612ee3dfd8.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .ccebbb{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\c76c9479973722e68692b4056b48b438.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .dffcdabdeb{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\d175f839865fc18608d1a66198b3de4b.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .ebbbfefc{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\9e60096b4592bb63800f02e51f1278c5.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .cacbadaaddfeabdce{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\3640cacb3ad1a86ad8952dfe6abd38ce.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}
        .eacabfbdfada{
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.09)),url('\\posters\\anime\\e9439a99ca97bf219b2d22f764ad1a60.jpg');
        background-size: cover;
        width: 194px;
        height: 300px;
        position: relative;
        float: left;
        max-width: 200px;
        padding:6px;}